.faq {
  background-color: #f9f9f9;
  color: #102654;
  padding-bottom: 100px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    padding-bottom: 60px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-bottom: 70px;
  }
}

.faq__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  padding-top: 100px;
  margin-bottom: 50px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 42px;
    line-height: 42px;
    padding-top: 60px;
    margin-bottom: 45px;
    text-align: center;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 70px;
    margin-bottom: 35px;
    text-align: center;
  }
}

.faq__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

/* Табы */
.faq__tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;

  @media screen and (width >= 768px) and (width <= 1365px) {
    flex-direction: row;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

.faq__tab {
  padding: 18px 48px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 162px;
    padding: 18px 28px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 16px;
    line-height: 16px;
    width: 140px;
    padding: 14px 22px;
  }

  &.active {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: #fff;
    border: none;
  }

  &:focus:not(.active) {
    background: #ffffff;
    color: #102654;
    border: 1px solid #102654;
  }

  &:hover:not(.active) {
    background-color: transparent;
    border: 1px solid #102654;
  }
}

.faq__tab:disabled {
  background: transparent;
  color: rgba(16, 38, 84, 0.3);
  border: 2px solid rgba(16, 38, 84, 0.3);
}

/* Список вопросов */
.faq__content {
  display: flex;
  flex-direction: column;
}

.faq__list {
  display: flex;
  flex-direction: column;

  @media screen and (width >= 320px) and (width <= 1365px) {
    display: block;
  }
}

.faq__question {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  list-style-type: none;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    font-size: 22px;
    line-height: 22px;
    width: 560px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 20px;
    line-height: 20px;
    width: 238px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.faq__answer {
  font-size: 18px;
  line-height: 24px;
  width: 660px;
  margin-top: 23px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    width: 560px;
    margin-top: 19px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 15px;
    line-height: 20px;
    width: 238px;
    margin-top: 20px;
  }
}

.faq__details {
  border-bottom: 1px solid #74819c;
  padding-top: 23px;
  padding-bottom: 23px;
  height: auto;
  overflow: hidden;
  position: relative;

  @media screen and (width >= 320px) and (width <= 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.faq__details:first-child {
  border-top: 1px solid #74819c;
}

.faq__details[open] {
  animation: open-details 4s;
}

@keyframes open-details {
  0% {
    max-height: 80px;
  }

  100% {
    max-height: 500px;
  }
}

/* свернутое состояние - кружок для плюса */
.faq__question::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: #f9f9f9;
  border: 1px solid #1c3374;
  left: 817px;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width >= 768px) and (width <= 1365px) {
    left: 636px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 30px;
    height: 30px;
    left: 259px;
  }
}

/* свернутое состояние - плюс */
.faq__question::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(to right, #1c3374 100%, transparent 50%),
    linear-gradient(to bottom, #1c3374 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  left: 827px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width >= 768px) and (width <= 1365px) {
    left: 646px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 14px;
    height: 14px;
    left: 267px;
  }
}

/* фон для hover и focus */
.faq__question:hover::before {
  background: #1c3374;
}

/* плюс белый для hover и focus */
.faq__question:hover::after,
.faq__question:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(to right, #ffffff 100%, transparent 50%),
    linear-gradient(to bottom, #ffffff 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  left: 827px;

  @media screen and (width >= 768px) and (width <= 1365px) {
    left: 646px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    left: 267px;
    width: 14px;
    height: 14px;
  }
}

.faq__question:focus::before {
  background: #74819c;
  border: 1px solid #1c3374;
}

/* disabled */
.faq__details:disabled .faq__question::before {
  background: transparent;
  border: 1px solid rgba(28, 51, 116, 0.3);
}

.faq__details:disabled .faq__question::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(to right, rgba(28, 51, 116, 0.3) 100%, transparent 50%),
    linear-gradient(to bottom, rgba(28, 51, 116, 0.3) 100%, transparent 50%);
  background-size: 100% 1px, 1px 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 33px;
  left: 827px;
}

/* развернутое состояние - кружок для минуса */
.faq__details[open] .faq__question::before {
  background: #1c3374;
}

/* развернутое состояние - минус */
.faq__details[open] .faq__question::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background: linear-gradient(to bottom, #ffffff 100%, transparent 50%);
  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (width >= 768px) and (width <= 1365px) {
    left: 646px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    left: 267px;
    width: 14px;
  }
}

.faq__panel {
  display: none;
}

.faq__panel.active {
  display: block;
}
